:root {
  --default: #ffffff;
  --product-light: #e1f4f3;
  --product-normal: #00a58e;
  --product-dark: #007a69;
  --cloud-light: #f5f7f9;
  --cloud-normal: #e8edf1;
  --ink: #252a31;
}

[data-theme="dark"] {
  --default: #252a31;
  --product-light: #4f5e71;
  --product-normal: #00a58e;
  --product-dark: #007a69;
  --cloud-light: #f5f7f9;
  --cloud-normal: #4f5e71;
  --ink: #f5f7f9;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: var(--default);
  color: var(--ink);
  padding: 10px;
  width: 600px;
  height: 380px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5em;
}

h1 {
  font-size: 16px;
  text-align: center;
}

ul {
  padding-inline-start: 0;
  overflow-y: scroll;
  height: 310px;
  margin-block-start: 0;
}

li {
  list-style: none;
  margin: 0.5em 0;
  display: flex;
  align-items: center;
}

ul li {
  padding: 0.6em 1.6em;
  border: 2px solid var(--cloud-normal);
  border-radius: 1em;
  box-shadow: 0 0.25em 0 -0.133em var(--cloud-normal);
}

li:hover {
  cursor: default;
}

#searchInput {
  padding: 0.6em;
  border-radius: 0.8em;
  border-style: none;
  font-size: 1em;
}

#noResultsMessage {
  display: flex;
}

@keyframes fillAnimation {
  0% {
    background-size: 0% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.copied {
  background-image: linear-gradient(to right, var(--product-light), var(--product-light));
  background-repeat: no-repeat;
  animation: fillAnimation 1s;
  height: 24px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--product-dark);
  padding: 3px;
  text-align: center;
  color: var(--cloud-light);
}

footer p {
  font-size: 12px;
  cursor: default;
}

#copy-button,
#add-button {
  background-color: var(--product-dark);
  border: none;
  border-radius: 6px;
  color: var(--cloud-light);
  font-size: 11px;
  text-decoration: none;
  margin-left: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

#text-span {
  flex-grow: 1;
}

.toggle-container {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 19px;
}

.toggle {
  position: absolute;
  cursor: pointer;
  touch-action: manipulation;
  outline-offset: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 19px;
}

.toggle::before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
}

#toggle:checked + .toggle {
  background-color: var(--product-dark);
}

#toggle:checked + .toggle:before {
  transform: translateX(16px);
}

#getSessionStorageButton {
  background-color: var(--product-dark);
  border: none;
  border-radius: 0.8em;
  color: var(--cloud-light);
  font-size: 1em;
  text-decoration: none;
  padding: 0.6em;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

#sessionStorageContent {
  margin-top: 60px;
  padding: 8px;
}

#sessionStorageContent::backdrop {
  background-color: black;
  opacity: 0.7;
}
