:root {
  --default-white: #ffffff;
  --product-light: #e1f4f3;
  --product-dark: #007a69;
  --cloud-light: #f5f7f9;
  --cloud-normal: #e8edf1;
  --ink-dark: #252a31;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: var(--default-white);
  color: var(--ink-dark);
  padding: 10px;
  width: 500px;
  height: 300px;
}
h1 {
  font-size: 16px;
  text-align: center;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
  margin: 0.5em 0;
}

ul li {
  padding: 0.8em 1.6em;
  border: 1px solid var(--cloud-normal);
  border-radius: 1em;
  box-shadow: 0 0.25em 0 -0.133em var(--cloud-normal);
}

li:hover {
  cursor: pointer;
}

@keyframes fillAnimation {
  0% {
    background-size: 0% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.copied {
  background-image: linear-gradient(to right, var(--product-light), var(--product-light));
  background-repeat: no-repeat;
  animation: fillAnimation 1s;
  font-size: 0.7rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--product-dark);
  padding: 3px;
  text-align: center;
  color: var(--cloud-light);
}

footer p {
  font-size: 12px;
}
